@{
    ViewData["Title"] = "Welcome";
}
<h2>@ViewData["Title"]</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Vehicle" asp-action="ViewVehicles">Vehicles</a></li>
        <li class="breadcrumb-item"><a asp-controller="VehicleType" asp-action="ViewVehicleTypes">VehicleTypes</a></li>
        <li class="breadcrumb-item"><a asp-controller="SpareParts" asp-action="ViewSpareParts">SpareParts</a></li>
        <li class="breadcrumb-item"><a asp-controller="Orders" asp-action="ViewOrders">Orders</a></li>
    </ol>
</nav>

<div class="card" style="width: 50rem; position: center">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
